* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    line-height: 1.6;
    color: #0a020c;
}

header {
    background-color: #421c42;
    color: #fff;
    padding: 1rem 0;
}

header nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

header nav ul li {
    margin: 0 1rem;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.1rem;
}

.home-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('background-photo.jpg') no-repeat center center/cover;
}

.home-content {
    text-align: center;
    background-color: rgba(109, 69, 110, 0.6);
    padding: 2rem;
    border-radius: 10px;
}

.home-photo {
    width: 250px;
    height: 300px;
    border-radius: 50%;
    margin-bottom: 1rem;
}

.home-text h1 {
    color: #fff;
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.home-text p {
    color: #ddd;
    margin-bottom: 2rem;
}

.btn {
    display: inline-block;
    padding: 0.5rem 1rem;
    color: #160215;
    background-color: #fff;
    border-radius: 5px;
    text-decoration: none;
}

.btn:hover {
    background-color: #ddd;
}

section {
    padding: 4rem 2rem;
    text-align: center;
}

.about-section, .skills-section, .portfolio-section, .contact-section {
    background-color: #efd7ef;
    margin: 2rem 0;
}

.skills-section ul {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.skills-section ul li {
    background-color: #60435f;
    color: #fff;
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    border-radius: 5px;
}

.portfolio-gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.portfolio-item {
    margin: 1rem;
    padding: 1rem;
    background-color: #f4f4f4;
    border-radius: 10px;
    text-align: center;
    position: relative;
}

.image-slider {
    position: relative;
    max-width: 500px;
    margin: 2rem auto;
    overflow: hidden;
    border-radius: 10px;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    transition: opacity 0.5s ease-in-out;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.prev {
    left: 0;
    border-radius: 3px 0 0 3px;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.slide {
    display: none;
}

.slide.active {
    display: block;
}


footer {
    background-color: #60435f;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}
